
{{> header}}
    <!-- Tentang 1 - Komponen Bootstrap Brain -->
    <section class="py-3 py-md-5 py-xl-8">
      <div class="container-fluid">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <!-- Ganti ikon dengan gambar -->
            <img
              class="img-fluid rounded"
              loading="lazy"
              src="img/muslim.png"
              alt="Logo Aplikasi"
              style="width: 800px;"
            />
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11">
                <h2 class="h1 mb-3">Selamat datang di Muslim Express App</h2>
                <p class="lead fs-4 text-secondary mb-3">Muslim Express App
                  adalah platform yang didedikasikan untuk memenuhi kebutuhan
                  informasi dan spiritualitas Anda.</p>
                <p class="mb-5">Dengan desain yang bersih dan sederhana, kami
                  menyediakan layanan yang memudahkan akses Anda ke berbagai
                  konten Islami, seperti Al-Qur'an, doa-doa, dan artikel
                  bermanfaat.</p>
                <p
                  class="lead fs-4 text-secondary mb-3 text-center"
                >Pengembang</p>
                <div class="row gy-4 gy-md-0 gx-xxl-5X">
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                        <!-- Ganti ikon dengan gambar -->
                        <img
                          src="img/rijal.jpg"
                          alt="Foto Mukhtarijal"
                          class="bi text-primary"
                          style="width: 150px;"
                        />
                      </div>
                      <div>
                        <h4 class="mb-3">Mukhtarijal</h4>
                        <p class="text-secondary mb-0">Mahasiswa Informatika
                          Universitas Negeri Padang.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                        <!-- Ganti ikon dengan gambar -->
                        <img
                          src="img/ciko.jpg"
                          alt="Foto Adelina Suciko"
                          class="bi text-primary"
                          style="width: 150px; height: 150px;"
                        />
                      </div>
                      <div>
                        <h4 class="mb-3">Adelina Suciko</h4>
                        <p class="text-secondary mb-0">Mahasiswa Informatika
                          Universitas Negeri Padang.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{> footer}}
  </body>

</html>
